.footer{
    background-color: var(--greyBorder-color);
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    & span{
        margin:0 1rem;
        color:var(--blueBorder-color);
        font-weight: 700;
    }
    & svg{
        color:var(--blueBorder-color);
    }
}