* {
  box-sizing: border-box;
}
:root {
  --yellow-color: #F1B800;
  --blue-color:#0D66FF;
  --white-color: #ffffff;
  --whiteLow-color: #F0F2F5;
  --black-color: #343A40;
  --grey-color: #6C757D;
  --red-color: #f50d0d;
  --greyBorder-color: #e1e8ed;
  --blueBorder-color: #088dcd;
  --bgLight-color: #F5F5FB;
  --blueLow-color:#cee5f3;
}