.posts{
    width: 100%;
    &__container{
        display: flex;
        flex-direction: column;
        h3{
            background-color: var(--white-color);
            margin: 0;
            padding: 0;
            margin: 1rem 0;
            text-align: center;
            min-height: 20rem;
            border: 0.1rem solid var(--greyBorder-color);
            box-shadow: 0 8px 30px rgba(0,0,0,.05);
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__load{
        width: 100%;
        background-color: var(--blueBorder-color);
        cursor: pointer;
        color:var(--white-color);
        border-radius: .5rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        max-height: 5rem;
    }
}